body {
    background-color: #F8F8FF;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logout{
    width: 100px;
    height: 50px;
    background-color: lightseagreen;
    color: #F8F8FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
}

.memes{
    height: 600px;
    width: 400px;
    border-radius: 5px;
    border: 0.5px solid lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#meme{
    height: 80%;
}
